.box {
    padding: 50px 0;
    &__img {
        width: 100%;
        margin-bottom: 45px;
        
    }
    &__bar {
        padding: 10px 70px;
        &-flex {
            display: flex;
            align-items: center;
            column-gap: 15px;
            margin-bottom: 30px;
        }
        &-img {
            width: 20%;
            border-radius: 50%;
            display: inline-block;
        }
        &-span {
            margin-bottom: 0px;
        }
        &-title {
            margin: 15px 0;

        }
    }
}





//for inputs 







section {
    margin: 70px 0 150px 0;
  }
  section .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
  }
  
  .input {
    width: 60%;
    outline: none;
    padding: 10px 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #232536;
    border: none;
  }
  
  .section-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -2px;
    color: #232536;
    margin-bottom: 70px;
  }
  
  .register {
    margin-top: 30px;
    width: 60%;
    padding: 15px 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #232536;
    border: none;
    background-color: #FFD050;
    transition: 0.3s;
  }
  
  .register:hover {
    background-color: rebeccapurple;
  }
  
  @media (max-width: 568px) {
    .section-title {
      font-size: 35px;
    }
    .input {
      width: 60%;
      outline: none;
      padding: 5px 10px;
      font-weight: 400;
      font-size: 12px;
      line-height: 28px;
      color: #232536;
    }
    .register {
      margin-top: 30px;
      width: 60%;
      padding: 10px 10px;
      font-weight: 700;
      font-size: 16px;
      line-height: 32px;
      color: #232536;
      border: none;
      background-color: #FFD050;
    }
  }
.acti {
  border:2px green solid;
}
  
.danger {
  border:2px red solid;
}
.deleteBtn {
  margin-top: 20px;
  width: 90px;
  height: 30px;
  background-color: #17dd1a;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: white;
}